@font-face {
  font-family: samuraiBob;
  src: url(../fonts/CFSamuraiBob.ttf);
}

body { 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(242, 218, 211);    
    font-family: samuraiBob;
} 


canvas {
    /* background-color: #eee; */
    display: block;
    position: absolute;
    top: 99px;
    border: 4px solid #e07761;
    border-radius: 6px;
    background: url(../images/parallax/full_bg.png);
}

.title {
    font-size: 85px;
    text-align: center;
    /* color: #e07761; */
    color: #2e5a5d;
}

.canvas-container {
    position: relative;
    width: 700px;
    height: 390px;
}

.game-over {
    text-transform: uppercase;
    color: #2e5a5d;
    font-size: 29px;
    border: 4px solid #e07761;
    border-radius: 6px;
    padding: 35px;
    position: absolute;
    top: 157px;
    background-color: rgb(238, 182, 164);
    max-height: 214px;
}

.hide {
    display: none;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.try-again {
    border: none;
    padding: 9px 20px;
    border-radius: 6px;
    background-color: #e07761;
    color: rgb(242, 218, 211);
    margin: 20px 0;
    font-family: samuraiBob;
    text-transform: uppercase;
    font-size: 28px;
}

.try-again:hover {
    cursor: pointer;
    animation: spin 1.2s;
    color: rgb(242, 218, 211);
}

.try-again:focus {
    border: none;
    outline: none;
}

.game-over-bottom {
    padding-bottom: 20px;
}

.game-over-top {
   font-size: 65px;
   text-transform: uppercase;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); } 
}

.intro {
    text-transform: uppercase;
    color: #2e5a5d;
    border: 4px solid #e07761;
    border-radius: 6px;
    padding: 35px;
    position: absolute;
    top: 170px;
    background-color: rgb(238, 182, 164);
    max-width: 330px;
}

.intro > div {
    font-size: 38px;
}

.intro > span {
    font-size: 20px;
    text-align: center;
}

.intro > p {
    font-size: 30px;
    text-align: center;
    margin: 10px 0;
}

.play {
    border: none;
    margin-top: 17px;
    padding: 9px 20px;
    border-radius: 6px;
    background-color: #e07761;
    color: rgb(242, 218, 211);
    font-family: samuraiBob;
    text-transform: uppercase;
    font-size: 28px;
}

.play:hover {
    cursor: pointer;
    animation: spin 1.2s;
    color: rgb(242, 218, 211);
}

.play:focus {
    border: none;
    outline: none;
}

.info-box {
    border: 4px solid #e07761;
    border-radius: 6px;
    margin-top: 15px;
    width: 800px;
    background-color: rgb(238, 182, 164);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    padding: 5px 10px;
}

.links > a {
    text-decoration: none;
    color: #2e5a5d;
    font-size: 40px;
    padding: 0 10px;
    text-align: center;
}

.links > a > i:hover {
    cursor: pointer;
    animation: spin 1.2s;
}

.controls {
    padding: 5px 10px; 
    color: #2e5a5d;
    font-size: 40px;
    text-align: center;
}

.controls > button {
    padding: 0 10px;
    color: #2e5a5d;
    font-size: 40px;
    text-align: center;
    outline: none;
    border: none;
    background-color: rgb(238, 182, 164); 
}

.controls > button > i:hover {
    cursor: pointer;
    animation: spin 1.2s;
}

.creator {
    padding: 5px 10px; 
    color: #2e5a5d;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
}
