body { 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(168, 120, 170);
} 

@font-face {
  font-family: samuraiBob;
  src: url(../fonts/CFSamuraiBob.ttf);
}

canvas {
    /* background-color: #eee; */
    display: block;
    position: absolute;
    top: 99px;
    border: 4px solid rgb(70, 27, 71);
    border-radius: 6px;
    /* background: url(../images/parallax/full_bg.png); */
}

.title {
    font-size: 85px;
    text-align: center;
    font-family: samuraiBob;
    color: rgb(70, 27, 71);
}

.canvas-container {
    position: relative;
    width: 700px;
    height: 390px;
}